{{> header }}

{{> navbar }}
<!-- Div -->

<div class="row">
	<div class="col-lg-8">
		<h1>About Me</h1>
	</div>
	<div class="col-lg-4">
		<img src="./assets/img/pika.jpg" alt="image" class="img-thumbnail" />
	</div>
</div>
<!-- Cerrando div -->

{{> footer }}